.login-container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(229, 228, 226) 0%,
    rgb(189, 188, 186) 100%
);
    display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  min-width: 480px;
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-footer .error {
  font-weight: bold;
  font-size: 1.3rem;
  color: #F94E30;;
  text-align: center;
}

.login-footer button {
  outline: none;
  border: none;
  // background-color: #F94E30;
  background-color:  rgb(189, 188, 186) ;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}

.login-footer button:disabled {
  background-color: gray !important;
}

.login-footer button:hover {
  background-color: rgb(229, 228, 226);
}

.login-footer p {
  font-weight: 700;
  color: #000;
}

.login-footer p span a {
  font-weight: bold;
  color: #F94E30;
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-decoration: none;
}